/* include padding/margin in your width declarations */
* {
  box-sizing: border-box;  
}

/* basic spacing */
body {
  padding: 1em;     /* avoid crowding content against the edges */
}

/* make the appearance less "default".
 Note that this is a light theme; you could also make a dark theme by reversing the colors. */
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* for body text on a screen, sans-serifs are often easier to read */
  color: #333;             /* pull back from hard black */
  background-color: #FAF9F6;  /* pull back from hard white */
}

/* Use this class on section, article, or div elements
 to keep text lines from getting too long to comfortably read */
.wrapper {
  max-width: 50em;  
}


/*---------------------------------------------------------------------------------------------------------*/
/* This is where my CSS styling starts! */
/*---------------------------------------------------------------------------------------------------------*/

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#portrait {
  display: flex;
  justify-content: center;
  width: 22%;
  clip-path: circle();
}

nav {
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline;
  margin: 1.2vw;
}

.nav_links {
  color: #FAF9F6;
  background: #333;
  text-decoration: none;
  font-size: 2.2vw;
  border-radius: 5vw;
  padding: 0.4vw 1vw;
  
  margin-right: 1vw;
  margin-left: 1vw;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the header interactivity! */
/*---------------------------------------------------------------------------------------------------------*/

#container {
  display: inline-block;
}

.typewriter {
  color:#333;
  font-size: 5vw;
  border-right: 5px solid;

  margin-top: 0vw;
  margin-bottom: 1vw;

  /* animation steps */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 2s,
    cursor .4s step-end infinite alternate;
}

/* cursor blinking when typing animation proceeds */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}

/* transparent text */
.typewriter span {
  background-image: 
    linear-gradient(
      to right,
      #5C6E3D,
      #A3B18A,
      #8D9F6C,
      #5C6E3D,
      #A3B18A,
      #8D9F6C,
      #5C6E3D,
      #A3B18A,
      #8D9F6C,
      #5C6E3D
    );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: animate 4s ease infinite;
}

/* text enlarge when hovered on */
.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  font-size: 1.2em; 
}

/* animated portfolio effect */
@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: 200%;
  }
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styling the nav bar interactivity */
/*---------------------------------------------------------------------------------------------------------*/

.active {
  background-color: #A3B18A; /* nice sage green for button selection */
  text-decoration: underline;
}

nav ul li a:hover {
  transition: all .2s ease-in-out; 
  background-color: #A3B18A; 
}

nav ul li a:focus {
  outline: #A3B18A double 3px;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the image track */
/*---------------------------------------------------------------------------------------------------------*/

#image-track .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
}

#image-track {
  display: flex;
  gap: 4vmin;
  transform: translate(0%);
}

/* StackOverflow get rid of image selection (blue highlight) */
/* https://stackoverflow.com/questions/16432909/remove-blue-highlight-over-html-image-when-clicked */
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the projects page */
/*---------------------------------------------------------------------------------------------------------*/

.projects_list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding-left: 0;
  gap: 1vw;
}

.projects_list li {
  display: flex;
  flex-direction: column;

  border: #333 double 1vw;
  padding: 1vw;

  gap: 1.5vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}

.projects_list img {
  width: 100%;
}

.projects_list h2 {
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 3vw;
}

.projects_list h3 {
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 2vw;
}

.projects_list p {
  padding: 0px; 
  margin: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 1.8vw;
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styling the experiences page */
/*---------------------------------------------------------------------------------------------------------*/

.experiences_list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding-left: 0;
  gap: 1vw;
}

.experiences_list li {
  display: flex;
  flex-direction: row;

  border: #333 solid 0.75vw;
  padding: 1vw;

  gap: 1.5vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}

.experiences_list img {
  height: 20vw;
  width: 20vw;
}

/* animating images when hovered */
#kitlab {
  transition: all .2s ease-in-out; 
}

#kitlab:hover {
  transform: scale(1.1);
  filter:saturate(1.25);
}

#tartanlogo {
  transition: all .2s ease-in-out; 
}

#tartanlogo:hover {
  transform: scale(1.1);
  filter:saturate(1.25);
}

#howmet {
  transition: all .2s ease-in-out; 
}

#howmet:hover {
  transform: scale(1.1);
  filter:saturate(1.25);
}

.experiences_list a {
  color: #333;
  text-decoration: underline;
  text-shadow: 0.04em 0.03em 0.04em #2F4F4F;
  
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 3vw;
}

.experiences_list a:hover {
  transition: all .2s ease-in-out; 
  color: #A3B18A; 
}

.experiences_list a:focus {
  text-decoration: none;
}

.experiences_list h3 {
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 2vw;
}

.experiences_list p {
  padding: 0px; 
  margin: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 1.8vw;
}

/* extra padding */
.text {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the leadership page */
/*---------------------------------------------------------------------------------------------------------*/

.leadership_list {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding-left: 0;
  gap: 1vw;
}

.leadership_list li {
  display: flex;
  flex-direction: row;

  border: #333 double 1vw;
  padding: 1vw;

  gap: 1.5vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}

.leadership_list img {
  height: 20vw;
  width: 20vw;
}

/* animating images when hovered */
#piano {
  clip-path: circle();
  transition: all .2s ease-in-out; 
}

#piano:hover {
  transform: scale(1.07) rotate(4deg);
  filter:saturate(1.25);
}

#valorant {
  clip-path: circle();
  transition: all .2s ease-in-out; 
}

#valorant:hover {
  transform: scale(1.07) rotate(4deg);
  filter:saturate(1.25);
}

.leadership_list a {
  color: #333;
  text-decoration: underline;
  text-shadow: 0.04em 0.03em 0.04em #2F4F4F;
  
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-size: 3vw;
}

.leadership_list a:hover {
  transition: all .2s ease-in-out; 
  color: #A3B18A; 
}

.leadership_list a:focus {
  text-decoration: none;
}

.leadership_list h3 {
  padding: 0px; 
  margin-left: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 2vw;
}

.leadership_list p {
  padding: 0px; 
  margin: 1vw;

  margin-top: 0.4vw;
  margin-bottom: 0.4vw;
  font-size: 1.8vw;
}

#discord {
  color: #333;
  text-shadow: none !important;

  padding: 0px; 
  margin-left: 0vw;

  margin-top: 0vw;
  margin-bottom: 0vw;
  font-size: 1em;
}

#discord:hover {
  transition: all .2s ease-in-out; 
  color: #A3B18A; 
}

#discord:focus {
  text-decoration: none;
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styling the about me page */
/*---------------------------------------------------------------------------------------------------------*/

#about_section {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: #333 dashed 0.75vw;
  padding: 1vw;
}

#about_section h2 {
  margin: 0px 0px 0px 0px;
  font-size: 3vw;
}

#about_section p {
  text-align: justify;
  margin: 1vw;

  font-size: 1.8vw;
  text-indent: 4vw;
}

#about_section a {
  color: #333;
  text-decoration: underline;
}

#about_section a:hover {
  transition: all .2s ease-in-out; 
  color: #A3B18A; 
}

#about_section a:focus {
  text-decoration: none;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the footing!! */
/*---------------------------------------------------------------------------------------------------------*/

.footing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1vw;
}

.footing ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 5vw;
}

.footing img {
  width: 4.5vw;
  height: 4.5vw;
}

.footing a {
  color: #333;
  text-decoration: none;
  text-shadow: 0.04em 0.03em 0.04em #2F4F4F;
}

.footing p {
  font-size: 2.5vw;
  margin: 0.5em 0em;
}

.footing a:hover {
  transition: all .2s ease-in-out; 
  color: #A3B18A; 
}

.footing a:focus {
  text-decoration: underline;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling mobile design */
/*---------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 501px) {

/*---------------------------------------------------------------------------------------------------------*/
/* This is where my CSS styling starts! */
/*---------------------------------------------------------------------------------------------------------*/
#welcome {
  margin-bottom: 1vw;
}

nav {
  display: none;
  list-style-type:none;
  margin-bottom: 1.5vw;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the home page */
/*---------------------------------------------------------------------------------------------------------*/

/* nothing here yet */

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the projects page */
/*---------------------------------------------------------------------------------------------------------*/

/* nothing here yet */

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the experiences page */
/*---------------------------------------------------------------------------------------------------------*/

/* nothing here yet */

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the leadership page */
/*---------------------------------------------------------------------------------------------------------*/

/* nothing here yet */

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the about me page */
/*---------------------------------------------------------------------------------------------------------*/

#about_section {
  padding: 2vw;
}

#about_section h2 {
  margin: 0px 0px 0px 0px;
  font-size: 3vw;
}

#about_section p {
  font-size: 2.5vw;
  text-indent: 4vw;
}

/*---------------------------------------------------------------------------------------------------------*/
/* Styling the footing!! */
/*---------------------------------------------------------------------------------------------------------*/

.footing img {
  width: 5vw;
  height: 5vw;
}
}

